@model MyShop.Web.Models.ListViewModel

@{
    ViewBag.Title = "GetCart";
}

<h2>Carrito de la compra</h2>

<table class="table">
    <tr>
        <th>
            <p>Nombre</p>
        </th>
        <th>
            <p>Precio</p>
        </th>
        <th>
            <p>Cantidad</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)€
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a href="@Url.Action("Delete", "ShoppingCart", new { id=item.Id })" class="btn btn-default">Eliminar</a>
            </td>
        </tr>
    }
</table>
<h4>Precio total: @Html.DisplayFor(model => model.TotalPrice) €</h4>
<a href="@Url.Action("Payment", "Order",Model)" class="btn btn-primary">Comprar</a>
